.myNavbar {
    background-color: rgb(83, 1, 1);
    color: white;
    margin: none;
}

.myNav {
    color: white;
    margin: auto;
}

.myNav li{
    margin: auto;
    border-style: solid;
    border-color: black;
}

.myNav li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.myNav li a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.myNav .current,
.myNav .current:hover{
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    border-bottom: px solid transparent;
}

.myNav:hover:after {
  border-top: rgb(255, 0, 0);
}

.myNav .current:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(255, 0, 0);
  content: " ";
  position: absolute;
  bottom: -15px;
  left: 45%;
}
.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.sugerencias {
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;

}

.underline-bold {
    font-weight: bold;
    text-decoration: underline;
}

.hr-black {
    color: black;
    background-color: black;
    border-color: black;
height: auto;
}

.buscador {
    padding-left: 50px;
    padding-right: 50px;
}
