.myNavbar {
    background-color: rgb(83, 1, 1);
    color: white;
    margin: none;
    height: 100px;
}

.myNav {
    color: white;
    margin: auto;
}

.myNav li {
    margin: auto;
    border-style: solid;
    border-color: black;
    background-color: #a20000;
}

.myNav li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.myNav li a:hover {
    color: black;
    text-decoration: underline;
}

.myNav .current,
.myNav .current:hover {
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    border-bottom: px solid transparent;
}

.myNav:hover:after {
    border-top: rgb(255, 0, 0);
}

.myNav .current:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(255, 0, 0);
    content: " ";
    position: absolute;
    bottom: -15px;
    left: 45%;
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.sugerencias {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.underline-bold {
    font-weight: bold;
    text-decoration: underline;
}

.hr-black {
    color: black;
    background-color: black;
    border-color: black;
    height: auto;
}

.buscador {
    padding-left: 50px;
    padding-right: 50px;
}

.group-image {
    margin: inherit;
}

.centrado {
    padding-top: 25%;
    text-align: center;
    display: block;
    margin: auto;
}

.verticalCenterSugerencias {
    text-align: center;
    position: relative;
    top: 80px;
}

.centradoVerticalDetail {
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.estiloMapa {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.prueba {
    height: 200px;
    align-content: center;
}

.contenedor {
    width: 700px;
    text-align: center;
    display: block;
    margin: auto;
}

.cuadroDescripcionDetails {
    width: 900px;
}

.posicionMapaDetails {
    padding-left: 100px;
    padding-right: 100px;
}

.marginLeftBar {
    margin-bottom: 30px;
    margin-top: 50px;
}

.borderLeftNav {
    border-color: rgb(83, 1, 1);
    border-width: 10px;
    border-radius: 0px;
    border-right: solid;
    margin-left: 30px;
}

.footerCustom {
    background-color: rgb(83, 1, 1);
    height: 200px;
    max-width: inherit;
    margin-bottom: none;
}

.carrouselToWapo {
    width: 100%;
    height: 100%;
}

.direccionDetails {
    width: 700px;
}

.btn-lg-custom {
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

.imagenCustom {
    width: 150px;
    height: 150px;
}
.imagenMus {
    width: 250px;
    height: 250px;
}



